@{
	ViewData["Title"] = "Thư Viện Ảnh";
}

<section class="bread-crumb mt-115">
	<div class="px-60">
		<ul class="breadcrumb">
			<li class="home">
				<a class="text-black" asp-controller="Home" asp-action="Index" title="Trang chủ" style="text-decoration: none"><span>Trang chủ</span></a>
				<i class="fa-solid fa-chevron-right"></i>
			</li>
			<li><strong><span>Thư Viện Ảnh</span></strong></li>
		</ul>
	</div>
</section>

<section class="container my-5">
	<h2 class="text-center fw-bold mb-4">THƯ VIỆN ẢNH</h2>
	<hr />
	<div class="row g-3">
		<div class="col-6 col-md-3">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZinZnVFCVt4aWfdZeSdluudkNGVvLUdJTNuXXIhllkV_X58X-BrWD5iCeLt0uUFMfEv0&usqp=CAU" style="width: 300px; height: 250px;" class="img-fluid rounded" alt="Ảnh 1">
		</div>
		<div class="col-6 col-md-3">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFKZ9-M0MAyShe6NtxA2rH_oD_WMUDkgI65DBMiiTkfQIkFmx3WTCuZ0fBW1vxA_mBWFY&usqp=CAU" style="width: 300px; height: 250px;" class="img-fluid rounded" alt="Ảnh 2">
		</div>
		<div class="col-6 col-md-3">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHw6odiyFdHphHmAKD9DgczqWClBHa4ECRbZgNkQXz6MQgspaYD5kCdTZVD3M_P0tT8X8&usqp=CAU" style="width: 300px; height: 250px;" class="img-fluid rounded" alt="Ảnh 3">
		</div>
		<div class="col-6 col-md-3">
			<img src="https://i.vntrip.vn/584x290/smart/https://statics.vntrip.vn/data-v2/hotels/68563/img_max/68563_1588821563_4.jpg" class="img-fluid rounded" style="width: 300px; height: 250px;" alt="Ảnh 4">
		</div>
		<div class="col-6 col-md-3">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQS8VfyprnRFAI9V0iUWAT9iEhoCnV1k93do2Ots7duDjvzNJqibnp9T-SBY8KMzT-ytQI&usqp=CAU" style="width: 300px; height: 250px;" class="img-fluid rounded" alt="Ảnh 5">
		</div>
		<div class="col-6 col-md-3">
			<img src="https://pix10.agoda.net/hotelImages/686/6860427/6860427_19050123430074192799.jpg?ca=8&ce=1&s=414x232" class="img-fluid rounded" alt="Ảnh 6" style="width: 300px; height: 250px;">
		</div>
		<div class="col-6 col-md-3">
			<img src="https://q-xx.bstatic.com/xdata/images/hotel/max500/194436174.jpg?k=8dca332833ed25ff5b9a59d51fb4d7e83f67c4dfacde81691084bf11c82e4faf&o=" class="img-fluid rounded" alt="Ảnh 7" style="width: 300px; height: 250px;">
		</div>
		<div class="col-6 col-md-3">
			<img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/219694166.jpg?k=53c5963ea6adb5ad491b7cc964e87ebaf5d47ce354133e5c6a084bf8057b13b4&o=&hp=1" class="img-fluid rounded" alt="Ảnh 8" style="width: 300px; height: 250px;">
		</div>
	</div>
</section>

